/* Fonts */

@font-face {
  font-family: ClarityCity;
  font-weight: 400;
  src: local("ClarityCity Regular"), local("ClarityCity-Regular"), url(fonts/ClarityCity-Regular.woff2);
}

@font-face {
  font-family: ClarityCity;
  font-weight: 700;
  src: local("ClarityCity Bold"), local("ClarityCity-Bold"), url(fonts/ClarityCity-Bold.woff2);
}

@font-face {
  font-family: ClarityCity;
  font-style: italic;
  font-weight: 400;
  src: local("ClarityCity RegularItalic"), local("ClarityCity-RegularItalic"), url(fonts/ClarityCity-RegularItalic.woff2);
}

@font-face {
  font-family: Inconsolata;
  src: local("Inconsolata"), url(fonts/Inconsolata-Regular.woff2);
}



/* Variables */

:root {
  --black: #333;
  --grey: #f2f2f1;
  --red: #e8403a;
  --white: #fff;

  --code-green: #7ec699;
  --code-orange: #f7aa04;
  --code-purple: #cc99cd;
  --code-red: #f08d49;
}


/* Page Rules */

@page {
  size: 200mm 310mm;
}

@page title {
  @top-left {
    content: '';
  }

  @top-right {
    content: '';
  }

  @top-left-corner {
    content: '';
  }

  @top-right-corner {
    content: '';
  }
}

@page :left {
  margin: 35mm 15mm 25mm 35mm;

  @top-right {
    content: string(title);
    font-style: italic;
    padding-top: 3em;
  }

  @top-left-corner {
    content: counter(page);
    padding: 3em 1.5em 0 0;
  }
}

@page :right {
  margin: 35mm 35mm 25mm 15mm;

  @top-left {
    content: string(title);
    font-style: italic;
    padding-top: 3em;
  }

  @top-right-corner {
    content: counter(page);
    padding: 3em 0 0 1.5em;
  }
}


/* Common */

html {
  color: var(--black);
  font-family: ClarityCity, sans-serif;
  lang: 'fr';
  line-height: 1.4;
}

body {
  margin: 0;
}

a {
  color: var(--red);
  text-decoration: none;
}

code, pre {
  font-family: Inconsolata;
  line-height: 1.2;
}

code {
  background-color: var(--grey);
  padding: 0.2em;
}

pre {
  background-color: var(--grey);
  margin: 0 -1em;
  padding: 1em;
}

div .section:not(:first-of-type) {
  break-before: always;
}

p {
  hyphens: auto;
  hyphenate-limit-chars: 4 4;
  orphans: 3;
  widows: 3;
}

h1 {
  font-size: 58pt;
  letter-spacing: -0.05em;
  line-height: 0.95;
  margin: 3.5em 0 0 -0.05em;
  page: title;
}

h2 {
  font-size: 34pt;
  letter-spacing: -0.03em;
  line-height: 1.05;
  margin: 0 0 0.6em 0;
  page: title;
  string-set: title content(text);
}

ul {
  padding-left: 0;
}

li {
  break-inside: avoid;
}


/* Header */

.post-aside--end {
  display: none;
}

.post-aside--start {
  font-style: italic;
  margin: 1em 0 5em 0;
}

.post-meta--length {
  display: none;
}

.post-meta--author::after {
  content: ' −';
}


/* Figures */

.wp-caption {
  break-inside: avoid;
  font-style: italic;
  margin: 2em 0;
}

p:empty {
  display: none;
}

.wp-caption-text {
  margin: 0.5em 0;
}


/* Footer */

footer {
  bottom: 0;
  font-size: 0.85em;
  position: absolute;
}

footer .post-author-avatar {
  float: left;
  margin-right: 1em;
}

.post-author-title {
  font-size: medium;
  margin-top: 0.8em;
}


/* Code */

.atrule, .selector {
  color: var(--code-purple);
}

.function, .number {
  color: var(--code-red);
}

.property {
  color: var(--code-orange);
}

.punctuation {
  color: var(--black);
}

.string {
  color: var(--code-green);
}
